[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"
isort = "*"

[packages]
pendulum = "*"
click = "*"
crayons = "*"
ofxparse = "*"
toml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
